@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  color: white;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #352e60;
}

.navBarContainer0 {
  width: 100%;
}

.navBarContainer1 {
  width: 100%;
}

.navBarContainer2 {
  width: 100%;
}

.navBarContainer3 {
  width: 75vw;
  display: flex;
}

.navBarSpacer {
  flex-grow: 1;
}

.bandImage {
  object-fit: cover;
}

.bandButtons {
  display: flex;
  justify-content: space-between;
}
